SA_PASSWORD=Your_strong_password123!
JWT_KEY=REPLACE_WITH_STRONG_SECRET_KEY
JWT_ISSUER=SmartShip
JWT_AUDIENCE=SmartShipClients
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
EMAIL_SMTP_HOST=smtp.gmail.com
EMAIL_SENDER=replace@example.com
EMAIL_PASSWORD=replace_password

IDENTITY_DB_CONNECTION=Server=sqlserver,1433;Database=SmartShipIdentityDb;User Id=sa;Password=Your_strong_password123!;TrustServerCertificate=True;
SHIPMENT_DB_CONNECTION=Server=sqlserver,1433;Database=SmartShipShipmentDb;User Id=sa;Password=Your_strong_password123!;TrustServerCertificate=True;
TRACKING_DB_CONNECTION=Server=sqlserver,1433;Database=SmartShipTrackingDb;User Id=sa;Password=Your_strong_password123!;TrustServerCertificate=True;
DOCUMENT_DB_CONNECTION=Server=sqlserver,1433;Database=SmartShipDocumentDb;User Id=sa;Password=Your_strong_password123!;TrustServerCertificate=True;
ADMIN_DB_CONNECTION=Server=sqlserver,1433;Database=SmartShipAdminDb;User Id=sa;Password=Your_strong_password123!;TrustServerCertificate=True;
SHIPMENT_SERVICE_BASE_URL=http://shipment-service:8080
